* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-pink {
    background-color: rgb(177, 33, 88);
}
main {
    background-color: rgb(177, 33, 88);
    color: white;
}
.carousel-img > img {
    height: 300px;
    width: 100vw;
}
.card > img {
    height: 200px;
    width: auto;
}
.container-icons >  .style-i {
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}
.form-heigth {
    height: 100vh;
    
    background-color: black;
}
