@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.nav-img {
    width: 230px; 
    height: 70px;
}
.bg-pink {
    background-color: rgb(177, 33, 88);
}
main {
    background-color: rgb(177, 33, 88);
    color: white;
}
.carousel-img > img {
    height: 300px;
    width: 100vw;
}
.card > img {
    height: 200px;
    width: auto;
}
.container-icons >  .style-i {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 8px;
    border-radius: 50%;
}
.img-fluid {
    height: 250px;
    width: 100%;
}
.container-1 {
    background-image: url(../assets/bg-concert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.boder-pink {
    border-color: 2px solid rgb(177, 33, 88);
}
.text-pink {
    color: rgb(177, 33, 88);
    font-weight: bold;
}
.fs-pink {
    font-size: 80px;
}
